# Dependencias principales

python-dotenv>=1.0.0
requests>=2.28.0
python-multipart>=0.0.6
soundfile>=0.12.1
tenacity>=8.2.2
openai>=1.0.0

# Streamlit
streamlit>=1.20.0

# Supabase
supabase>=1.0.0
postgrest>=0.10.0
gotrue>=0.7.0
realtime>=0.1.12

# Dependencias comunes adicionales
